/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing:border-box;
    /* border:1px solid red; */
}

header {
    background-color: linen;
    padding-top:12px;
    width:90%;
    margin:0 auto;
}



.feat-image {
    box-shadow: 0 0 2px 0 orange;
    
}


h4 {
    margin:15px;
    font-weight: normal;
    text-align: center;
}


h1 {
    font-family: cursive;
    display: block;
    color: black;
    background-color: lightgray;
    border-bottom: 4px solid #cc7b23;
    text-align: center;
    text-shadow: 0 2px 0 rgba(230, 79, 20, 0.4);
    margin:0 12px 12px 12px;
    border-radius: 10px;

}

h2 {
    font-family: emoji;
    text-align: center;
    
}

    h2::first-letter {
        text-transform: uppercase;
    }

    .headline {
        text-align: center;
        text-transform: uppercase;
    }

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: normal;
    margin:15px;
    text-align: center;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin:15px;
}

img {
    max-width: 100%;
    
}


footer {
    background-color: linen;
    padding-top:10px;
    width: 90%;
    margin:0 auto;
    border-bottom: 4px solid #cc7b23;
    border-radius: 10px;
}

.secondary-footer,
.third-footer {
    background-color: white;
    padding-top:10px;
    padding-bottom:10px;
}


a:hover {
    color:limegreen;
}



/* ================================= 
  Base Layout Styles
==================================== */

/* ---- navagation ---- */




.main-nav li {
    text-align: center;
    font-size: 1.6em;
    font-family:fantasy;
    color:black;

    display:block;
    background-color:lightgray;
    margin:10px;
    padding:5px;
    border-bottom: 4px solid #595d98;
    border-radius: 10px;

}




.main-footer li {
    display:block;
    margin:10px auto;
    width:fit-content;
}

.block1 {
    float:left;
    display:block;
}

.block2 {
    float:right;
    display:block;
}

.secondary-footer ul {
    display:inline-block;
}




/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



/* ================================= 
  media queries
==================================== */

/* 1.mobile */

@media (min-width:320px) {
    .container {
        width:90%;
        margin:0 auto;
    }

 
}

@media (max-width:700px) {
    .third-footer {
        display: none;
    }
}





/* 2.tablet */

@media (min-width:768px) {

    .container {
        width:90%;
   
        margin:0 auto;
    }

    .col {
        float:left;
        margin:15px 5px;
        width:48.5%;
    }

    h1 {
        width:300px;
        margin:auto;
    }

    h3 {
        display:block;
        width:fit-content;
        float:left;
    }

    h4 {
        padding-top:2em;
    }

    .feat-image {
        margin-bottom: 5px;
        margin-left:15px;
        margin-right:15px;
        float:right;
    }
    
    .main-nav li {
        display:inline-block;
        margin: 10px 20px;
    }

    .main-nav {
        width:fit-content;
        margin:10px auto;
    }
    
    
    .main-footer li {
        display:block;
        margin:10px auto;
        width:fit-content;
    }

    .secondary-footer {
        display:none;
    }
 

    .footer-nav a {
        display:block;
        margin:10px auto;
        width:fit-content;
    }

    .footer-nav {
        float:right;
    }

    .footer-nav li {
        text-align: center;
        font-size: 1em;
        font-family:fantasy;
        color:black;
        display:inline-block;
        background-color:lightgray;
        margin: 0 5px;
        padding: 0 10px;
        border-bottom: 4px solid #595d98;
        border-radius: 5px;
        float:left;
    }



    }




/* 3. desktop */

@media (min-width:1024px) {

    .name {
        width: fit-content;
        float:left;
    }

    .main-nav {
        float:right;
    }

    .main-nav li{
        float:left;
        margin-top:5px;
    }


    .feat-image {
        margin-bottom: 10px;
        float:right;
        box-shadow: 0 0 2px 0 orange;
    }

    .feature {
        display:block;
        width:90%;
        margin:auto;
    }

    .container {
        width:90%;
        margin:0 auto;
    }

    h1 {
        margin-top:15px;
    }

    h3 {
        display:inline-block;
        width:fit-content;
    }

    h4 {
  
        padding-top: 2em;
        text-align: left;

    }

    .col {
        float:left;
        margin:15px 5px;
        width:32%;
    }

    p {
        margin: 15px auto;
        max-width: 40em;
    }

    .secondary-footer {
        display:none;
    }

    .footer-nav a {
        display:block;
        margin:10px auto;
        width:fit-content;
    }

    .footer-nav {
        float:right;
    }

    .footer-nav li {
        text-align: center;
        font-size: 1em;
        font-family:fantasy;
        color:black;
        display:inline-block;
        background-color:lightgray;
        margin: 0 5px;
        padding: 0 10px;
        border-bottom: 4px solid #595d98;
        border-radius: 5px;
        float:left;
    }



}