/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing:border-box;
    border:1px solid red;
}

header {
    background-color: linen;
    padding-top:12px;
    padding-bottom:12px;
}



.feat-image {
    margin-bottom: .5em;
}

figcaption {
    margin:15px;
}


h1 {
    font-family: cursive;
    display: block;
    color: black;
    background-color: lightgray;
    border-bottom: 4px solid #cc7b23;
    text-align: center;
    text-shadow: 0 2px 0 rgba(230, 79, 20, 0.4);
    margin:0 12px 12px 12px;
    border-radius: 10px;

}

h2 {
    font-family: emoji;
    text-align: center;
    
}

    h2::first-letter {
        text-transform: uppercase;
    }

    .headline {
        text-align: center;
        text-transform: uppercase;
    }

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: normal;
    margin:15px;
    text-align: center;
    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin:15px;
}



footer {
    background-color: linen;
    padding-top:10px;
}




img {
	max-width: 100%;
}

.secondary-footer a {
    display: inline-block;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left: ;
    margin: 10px 12px;
}




/* ================================= 
  Base Layout Styles
==================================== */

/* ---- navagation ---- */





.main-nav a {
    text-align: center;
    font-size: 1.5em;
    font-family:fantasy;
    color:black;

    display:block;
    background-color:lightgray;
    margin:10px;
    padding:5px;
    border-bottom: 4px solid #595d98;
    border-radius: 10px;

}



.main-footer ul {
    font-family: fantasy;
    padding: 5px 15%;
    font-size: large;
}

/* .ft-name {
    padding:0;

}

.secondary-footer {
    display:block;

}
.ft-name {
    float:left;

}

.ft-top {
    float:right;
} */







/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



/* ================================= 
  media queries
==================================== */

/* mobile */

@media (min-width:320px) {}


/* tablet */

@media (min-width:768px) {

    .wrap {
        min-height: 100vh;
    }

    header {
        padding-bottom:2em;
    }

	.container{
		width:80%;
		max-width:1000px;
		margin:0 auto;
    }

    h1 {
        width:300px;
        margin:10px auto;
    }

    h3 {
        display:block;
        float: left;
        width:40%
        

    }
    
    img {
        float: right;
        width:50%;
        padding-top:20px;
        padding-bottom:20px;
        
    }

    .container img {
        width:300px;
    }

    .main-nav,
    a {
        margin:auto;
    }

    nav a {
        width:fit-content;
        display:inline-block;
        margin:15px auto;
       
        
    }

    li {
        margin:auto;
    }


    .col {
        float:left;
        margin:15px 30px;
        width:40%;
    }

    .main-footer ul {
        font-family: fantasy;
        font-size: large;
        display:block;
        width:fit-content;
        margin:auto;
    }










}
