/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
	border: 1px solid red;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: 1em;
	margin-bottom: 2em;
	color:black;
	overflow: scroll;
}

h1 {
	font-family: 'Courgette', cursive;
	text-shadow: 0 2px 0 rgba(230, 79, 20, 0.4);
	text-align: center;
	background-color: aliceblue;
	display: block;
	border-bottom: 4px solid #ccc;
	border-radius: 6px;
	margin:10px;
  }

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
	text-align: center;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

figure {
	margin: 0;
	line-height: 0;
	
}
figcaption {
	font-size: .9em;
	line-height: 1.5;
	padding: 0 0 30px 0;
	margin: 1em;
	overflow: scroll;

}



.headline {
	margin-bottom:0;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: bold;
	font-size:3em;
	text-align: center;
	text-transform: uppercase;
}
	

footer {
	width: 100%;
	min-height: 30px;
	padding: 20px 0 40px 20px;
  }
  
  footer .copyright {
	top: -8px;
	font-size: .5em;
  }
  
  footer ul {
	margin: auto;
	padding: 0;
  }
  
  footer ul li {
	display: inline-block;
  }
  
  a.social {
	display: inline-block;
	text-indent: -9999px;
	margin-left: 5px;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	opacity: .4;
	transition: all .5s;
  }
  a.email {
	background-image: url(portfolio/images/email.svg);
  }
  a.linkedin {
	background-image: url(portfolio/images/linkedin.svg);
  }
  a.github {
	background-image: url(portfolio/images/github.svg);
  }
  a.social:hover {
	opacity: 1;
  }
  .clearfix {
	clear: both;
  }

  span {
	  font-size: .8em;
	  margin:20px;

  }

.tagline li {
	font-size:.95em;
	/* max-width: 80%; */

/* Pseudo-classes ------------------ */

/* a:link {
	color: rgb(255, 169, 73);
	text-decoration: none;
  }
  
  a:visited {
	color: lightblue;
  }
  
  a:hover {
	color: rgba(255, 169, 73, .4);
  }
  
  a:active {
	color: lightcoral;
  }
   */


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 2em;
	border-bottom: 4px solid #ccc;
	border-radius: 6px;

}




.name,
.main-nav li {
	text-align: center;
	background: #fff;
	margin:0;
	display:block;
	margin:15px;
}

.main-nav {
	text-align: center;

}

.name a,
.main-nav a {
	padding: 10px 15px;
	text-align: center;
	display: block;
	background-color: #f5f3ec;
	/* margin: 0 30px 0 -18px; */
}

	.main-nav a {
		font-size: .95em;
		color: #3acec2;
		text-transform: uppercase;
		border-bottom: 4px solid #ccc;
		border-radius: 6px;
	}
	
	.main-nav a:hover {
		color: #093a58;
	}




ul {
	padding:0;
	list-style-type: none;
}


/* ---- Layout Containers ---- */

.main-header {
	padding-top:.5em;
	padding-bottom:.5em;
	/* background-color:lightsteelblue; */
	margin:0;
}

.banner,
.main-footer {
	text-align:center;
}






.col {
	padding-right:1em;
	padding-left:1em;
}

.banner {
	background: #ccc9ba;
	padding: 2em 10px .5em 10px;
	margin:20px;
}

.main-footer {
	background: #d9e4ea;
	margin-top: 0;
	padding: 15px;
}

/* ---- Page Elements ---- */

.me {
	width: 190px;
	margin-bottom: 30px;
	position: relative;
}

/* .container {
	widows: 80%;
	margin: auto;
	
} */


/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}





/* ================================= 
  Media Querie for mobile
==================================== */

@media (min-width: 320px) {

  
/* ================================= 
  Media Query for tablet
==================================== */

@media (min-width: 768px) {


	.container {
		width:90%
		margin:0 auto;
		border:1px solid red;
		
	}
	.me {
		width: 190px;
		float:right;
		margin-top:5px;
		margin-bottom:25px;
		margin-left:25px;
		padding:10px;
		border:1px solid lightgrey;

	}

	
	/* .name {
		float:left;
		margin:15px;
	}*/
	
	.main-nav a {
		width:120px;
		text-align: center;
	}
	
	.main-nav li {
		display:inline-block;
	
		
	}

	/*
	
	.tagline {
		font-size:1.4em;
	} */
	
	
	
	}
	
