/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing:border-box;
    /* border:1px solid red; */
}

header {
    background-color: linen;

}



h1 {
    font-family: cursive;
    display: block;
    color: black;
    background-color: lightgray;
    border-bottom: 4px solid #cc7b23;
    text-align: center;
    text-shadow: 0 2px 0 rgba(230, 79, 20, 0.4);
    margin:12px;
    border-radius: 10px;

}

h2 {
    font-family: emoji;
    text-align: center;
}

    h2::first-letter {
        text-transform: uppercase;
    }

    .headline {
        text-align: center;
        text-transform: uppercase;
    }

p {
    margin:10px;
    text-align: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



footer {
    background-color: linen;
}




img {
	max-width: 100%;
}

figcaption {
    padding:10px;
}




/* ================================= 
  Base Layout Styles
==================================== */

ul {
    margin: 10px;
}

.foot li {
    display:inline-block;
    padding:0 15px;

}


/* ---- navagation ---- */

nav a {
    text-align: center;
    font-size: 1.5em;
    font-family:fantasy;
    color:black;

    display:block;
    background-color:lightgray;
    margin:10px;
    padding:5px;
    border-bottom: 4px solid #595d98;
    border-radius: 10px;

}

.contact li {
    font-family: fantasy;
    padding: 5px;
    font-size: large;
}



/* ---- Layout Containers ---- */



/* ---- Page Elements ---- */



/* ================================= 
  media queries
==================================== */


@media (min-width:768px) {
	.container{
		width:70%;
		max-width:1000px;
		margin:0 auto;
	}

}
