/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing:border-box;
    border:1px solid red;
}

header {
    background-color: linen;
    padding-top:12px;
    padding-bottom:12px;
}



.feat-image {
    margin-bottom: .5em;
    float:right;

}

figcaption {
    margin:15px;
}


h1 {
    font-family: cursive;
    display: block;
    color: black;
    background-color: lightgray;
    border-bottom: 4px solid #cc7b23;
    text-align: center;
    text-shadow: 0 2px 0 rgba(230, 79, 20, 0.4);
    margin:0 12px 12px 12px;
    border-radius: 10px;

}

h2 {
    font-family: emoji;
    text-align: center;
    
}

    h2::first-letter {
        text-transform: uppercase;
    }

    .headline {
        text-align: center;
        text-transform: uppercase;
    }

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: normal;
    margin:15px;
    text-align: center;
    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin:15px;
}



footer {
    background-color: linen;
    padding-top:10px;
}




img {
	max-width: 100%;
}

.secondary-footer a {
    display: inline-block;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* float: left; */
    margin: 10px 12px;
    
}




/* ================================= 
  Base Layout Styles
==================================== */

/* ---- navagation ---- */





.main-nav li {
    text-align: center;
    font-size: 1.5em;
    font-family:fantasy;
    color:black;

    display:block;
    background-color:lightgray;
    margin:10px;
    padding:5px;
    border-bottom: 4px solid #595d98;
    border-radius: 10px;

}


.main-footer a {
    display:block;
    margin:10px auto;
    width:fit-content;
}




/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



/* ================================= 
  media queries
==================================== */

/* 1.mobile */

@media (min-width:320px) {

    
}


@media (max-width:700px) {
    .third-footer {
        display: none;
    }
}



/* 2.tablet */

@media (min-width:768px) {

    
    header {

        padding-bottom: 3.8em;
    }
    

    
    .container {
        width:100%;
        /* max-width: 1000px; */
        margin:0 auto;
    }

    .col {
        float:left;
        margin:15px 30px;
        width:40%;
    }

    h1 {
        width:300px;
        margin:auto;
    }

    
    .main-nav li {
        display:inline-block;
        margin:10px auto;
    }

    .main-nav {
        width:fit-content;
        margin:10px auto;
    }
    
    .main-footer li {
        display:block;
        margin:10px auto;
        width:fit-content;
    }

    .secondary-footer {
        display:none;
    }
 

/* question: */

    .third-footer a {
        display:block;
        margin:10px auto;
        width:fit-content;
    }



    .third-footer li {
        text-align: center;
        font-size: 1em;
        font-family:fantasy;
        color:black;
        display:inline-block;
        background-color:lightgray;
        margin: 0 auto;
        padding: 0 10px;
        border-bottom: 4px solid #595d98;
        border-radius: 5px;
    }

    .ft-nav {
        float:right;
    }




    }


   


/* 3. desktop */
@media (min-width:1024px) {


    .container {
        width:100%;
        margin:0 auto;
    }

    .col {
        float:left;
        margin:15px 30px;
        width:24%;
    }

    header {

        padding-bottom:6.5em;
    
    }

    .secondary-footer {
        display:none;
    }





}